<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style1.css">


    <title> Boostrap Login</title>

</head>

<body>
<!-------------------------Main Container---------------------------->
<form method="post" th:action="@{/login}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <!-- 폼 제출 시 오류가 있으면 오류 메시지 출력 -->
<!--    <div th:if="${#fields.hasErrors()}">-->
<!--        <p th:each="err : ${#fields.errors('*')}" th:text="${err}">Error message</p>-->
<!--    </div>-->
    <div class="container d-flex justify-content-center align-items-center min-vh-100">


<!-------------------------Login Container---------------------------->

        <div class="row border rounded-5 p-3 bg-white shadow box-area">


<!-------------------------Left Box---------------------------->

        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #103cbe;">
            <div class="featured-image mb-3">
                <img src="/images/2.jpg" class="img-fluid" style="width: 250px; height: 300px">
            </div>
            <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Be Verified</p>
            <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Join experienced Designers on this platform.</small>
        </div>


<!-------------------------Right Box---------------------------->

        <div class="col-md-6 right-box">
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h2>Hello,Again</h2>
                    <p>We are happy to have you back.</p>
                </div>
                <div class="input-group mb-3">

                    <input type="text"  class="form-control form-control-lg bg-light fs-6"  name="username" placeholder="Email address">

                </div>
                <div class="input-group mb-1">

                    <input type="password" class="form-control form-control-lg bg-light fs-6"  name="password" placeholder="Password">


                </div>
                <div class="input-group mb-5 d-flex justify-content-between">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input"  id="remember-me" name="remember-me">
                        <label for="remember-me" class="form-check-label text-secondary"><small>Remember Me</small></label>
                    </div>
                    <div class="forgot">
                        <small><a href="#">Forgot Password?</a></small>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-lg btn-primary w-100 fs-6">Login</button>
                </div>
                <div class="input-group mb-3">
                    <!--<button--> <a href="/register" class="btn btn-lg btn-light w-100 fs-6"><!--<img src="images/ggo" style="width:20px" class="me-2">--><small><!--Sign In with Google-->Go to Sign Up</small><!--</button>--> </a>
                </div>
                <div class="row">
                    <small>Do you want to go back? <a href="/main">Go to Home</a></small>
                </div>
<!--                <div class="row">-->
<!--                    <small>Don't have account? <a href="#">Sign Up</a></small>-->
<!--                </div>-->
            </div>
        </div>




        </div>
    </div>
</form>

</body>
</html>